**/*

!**/*/

bazel-*/

dist/
node_modules/
target/

!*.css
!*.html
!*.js
!*.json
!*.md
!*.mjs
!*.scss
!*.yaml
!*.yml

**/third_party/*
!**/third_party/*.md
**/vendor/*
!**/vendor/*.md

content/source/**/*.json

src/lifestream/**/*
src/blog/**/*

pnpm-lock.yaml
